#hero-section{
    /* background: url('assets/bg.jpg') no-repeat center/cover; */
     background: linear-gradient(360deg, #222, rgba(34, 34, 34, 0)), url('/images/bg.jpg') no-repeat center/cover;
    height: 80vh;
}
.hero-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    align-items: flex-start;
    height: 100%;
    color: white;
}
.hero-content h1{
    font-size: 50px;
    width: 30%;
}
.hero-content p{
    width: 30%;
}
.hero-content button{
    background: transparent;
    border: none;
    color: white;
    border: 1px solid white;
    padding: 10px 20px;
    border-radius: 5px;
}